<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="icon"
      type="image/svg"
      href="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/042/937/original/Screen_Shot_2022-08-06_at_4.08.30_PM.png?1659820247"
    />
    <title>TechVlog</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>

    <header>
      <nav class="bg-gray-800">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
          <div class="relative flex items-center justify-between h-16">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">

            </div>
            <div
              class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start"
            >
              <div class="flex-shrink-0 flex items-center">
                <a href="/"><h2 class="logo">Tech<span>Vlog</span></h2></a>
              </div>
              {{#if logged_in}}
                <div class="sm:block sm:ml-6">
                  <div class="flex space-x-4">

                    <a
                      href="/"
                      class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium myHome"
                    >Home</a>
                    <a
                      href="/profile"
                      class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                    >Dashboard</a>
                  </div>
                </div>
              {{/if}}

            </div>
            <div>
              {{#if logged_in}}

                <button
                  class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                  id="logout"
                >Logout</button>
              {{else}}
                <a
                  class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                  href="/login"
                >Login</a>
              {{/if}}
            </div>

          </div>

        </div>
      </nav>
    </header>
    <main>
      <!-- Render the sub layout -->
      {{{body}}}
    </main>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

  </body>

</html>