<div class="container mt-10">
  <div class="projectId">
    <h2 class="mt-2 mb-5 titleHomepage">{{name}}</h2>

    <p class="mb-10">{{description}}</p>
    <p class="createdProject">Created by
      {{user.name}}
      on
      {{format_date date_created}}</p>
  </div>

  <button class="btn btn-primary mt-10 projectBtn"> Add comment</button>
  {{#if logged_in}}
    <button class="btn btn-primary mt-10 projectBtn"> Modify Post </button>
  {{/if}}
  <form class="row customizedForm">
    <div class="col-12">
      <input
        name="tipUsername"
        id="tipUsername"
        placeholder="Add your name"
        value=""
        class="form-input"
      />
    </div>
    <div class="col-12">
      <textarea
        placeholder="Leave a comment"
        for="post-comment"
        class="form-input"
        id="post-comment"
        name="post-comment"
        class="form-input w-100"
      ></textarea>

    </div>
  </form>
</div>