<div class="container mt-10">
  <div class="projectId">
    <h2 class="mt-2 mb-5 titleHomepage">{{name}}</h2>

    <p class="mb-10">{{description}}</p>
    <p class="createdProject">Created by
      {{user.name}}
      on
      {{format_date date_created}}</p>
  </div>

  <button class="btn btn-primary mt-10 projectBtn"> Add a comment</button>
  {{#if logged_in}}
    <button class="btn btn-primary mt-10 projectBtn"> Modify </button>
  {{/if}}

</div>