:root {
  --primary-color: #1f2937;
}
/* Navbar styles*/
.logo {
  color: white;
  font-size: 25px;
}
.logo span {
  color: aqua;
}
nav {
  font-size: 25px !important;
}
nav a {
  text-decoration: none !important;
  font-size: 15px !important;
}

/* Homepage styles*/
.containerHomepage {
  padding-left: 30px;
  padding-right: 30px;
}
.containerHomepage2 {
  padding-left: 50px;
  padding-right: 50px;
}
.titleHomepage {
  font-size: 30px;
  color: var(--primary-color);
}
.cardHomepage {
  border: 1px solid var(--primary-color);
  padding: 10px;
  border-radius: 10px;
}
.postTitle {
  background-color: var(--primary-color);
  padding: 12px;
  border-radius: 10px;
  color: whitesmoke;
}
.postTitle a:hover {
  color: aqua;
  text-decoration: none;
}
.postDate p,
.createdProject {
  text-align: right;
  font-size: 15px !important;
}

/* Project id page */
.projectId {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
}
.projectBtn {
  color: var(--primary-color);
}
.projectBtn:hover {
  color: aqua;
}

/* profile/dashboard page*/

.subtitles {
  color: var(--primary-color);
  margin-bottom: 25px;
}
.posts {
  background-color: rgb(106, 201, 220);
  text-align: center;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
.posts a:hover {
  text-decoration: none;
  color: rgb(70, 68, 68);
}

/* projectID page*/
.customizedForm {
  padding: 20px;
  background-color: rgb(106, 201, 220, 0.3);
  border-radius: 10px;
  margin-top: 30px;
}

/* Comment Page */
.commentCards,
.commentCardUser {
  border-radius: 10px !important;
}

.commentCardUser {
  padding: 15px !important;
}

@media (max-width: 550px) {
  .myhome {
    display: none;
  }
  .myDelBtn {
    padding: 10px !important;
    width: 100% !important;
  }
  .profileContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
}
